.progress-bar {
  border: 1px solid #777;
}

.progress {
  background-color: #FF3333;
}

/*#scheme-images {
  min-width: 90%;
}
*/
/*.scheme-collection .scheme-info ul.scheme-needs.sc-complete li {
  float: left;
  margin: 0;
  padding: 0 4px 4px 0;
  text-transform: uppercase;
  width: 30%;
}*/

.scheme-collection .scheme-info ul.scheme-needs.sc-complete li a {
  word-wrap: normal;
}
