.ctools-modal-asb-modal-update {
  padding-bottom: 3px;
}

.modal-scroll {
}

div.ctools-modal-content .modal-content {
  padding: 0 1em;
}

.ctools-modal-content .form-type-textarea {
  margin: 0;
}

.ctools-modal-content .form-item.form-type-textarea label {
  display: none;
}

/*.ctools-modal-asb-modal-update .modal-head-wrapper {
  height: 30px;
}*/



